<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Servicios</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-building"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Fachadas</h6>
                  <p class="description d-none d-md-inline-block mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-shop"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Casas</h6>
                  <p class="description d-none d-md-inline-block mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-compass-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Tapiceria</h5>
                  <p class="description d-none d-md-inline-block mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-info rounded-circle text-white">
                  <i class="fa fa-windows"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-info mb-md-1">Ventanas</h5>
                  <p class="description d-none d-md-inline-block mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['admin']"
             data-toggle="tooltip" title="Administracion">Administración</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['user']"
             data-toggle="tooltip" title="Usuario">Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['payment']"
             data-toggle="tooltip" title="Usuario">Medios de pago</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['contact']"
             data-toggle="tooltip" title="Usuario">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
<!--        when mobile -->
      </ul>
    </div>
  </div>
</nav>
